{% extends 'layouts/base.html' %}

{% set endpoints = [
    'main.Categories'
] %}

{% block content %}
    <br/>
    <br/>
    <div class="ui center aligned container">
        <div class="ui center aligned one column stackable grid">
            <div class="column">
                <a href="{{ url_for(endpoints[0]) }}">
                <div style="font-size:30px" id="button" class="ui raised segment">Undergraduate Basic Organic Chemistry</div>
                </a>
            </div>
            <br/>
            <div class="column">
                <div style="font-size:30px" class="ui raised segment">
                    Undergraduate Advanced Organic Chemistry
                </div>
            </div>
            <br/>
            <div class="column">
                <div style="font-size:30px" class="ui raised segment">
                    Extra Problems
                </div>
            </div>
      </div>
    </div>

    <style>
    #button:hover{
        text-decoration: none; 
        font-weight: bold; 
    }
    </style>
    <style>
    div.ui.raised.segment{
        line-height: 100%;
    }
    </style>


{% endblock %}
