{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui center aligned container">
        <div class="ui center aligned grid">
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row">
                <div style="font-size:30px" class="ui raised six wide segment"><div class="ui huge text">Undergraduate Basic Organic Chemistry</div></div>
            </div>
            <div class="ui row">
                <div style="font-size:30px" class="ui raised center segment">Undergraduate Advanced Organic Chemistry</div>
            </div>
            <div class="ui row">
                <div style="font-size:30px" class="ui raised center segment">Extra Problems</div>
            </div>
      </div>
    </div>
{% endblock %}
