{% extends 'layouts/base.html' %}

{% set endpoints = [
    'main.index',
    'main.thirdPage'
] %}

{% block content %}
    <div class="ui center aligned container">
        <div class="ui center aligned grid">
            <div class="ui row" style="height:70px;"></div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide segment"><p>General Chemistry</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Naming</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Conformation</p></div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide segment"><p>Chirality</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Reactions: Introduction to Basic Mechanisms (alcohols + alkyl halides)</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Elimination Reactions and Introduction to Alkenes</p></div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide segment"><p>Alkene and Alkyne Reactions</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Sn<sub>1</sub>, Sn<sub>2</sub>, E1, and E2 Mechanisms</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Conjugated Systems and The Diels-Alder Reaction</p></div>
                </div>
            </div>
            <div class="ui row" style="height:70px;"></div>
            <div class="ui row">
                <div class="ui six wide column">
                    <a href="{{ url_for(endpoints[0]) }}">
                    <button style="background-color:white;font-size:30px" class="ui button"><i class="chevron left icon"></i> Previous Page</button>
                </a>
                </div>
                <div class="ui six wide column">
                    <a href="{{ url_for(endpoints[1]) }}">
                    <button style="background-color:white;font-size:30px" class="ui button">Next Page<i class="chevron right icon"></i></button>
                </a>
                </div>

            </div> 
      </div>
    </div>

    <style>
        .row {
            height: 140px;
        }
        .segment {
            height: 120px;
            vertical-align: middle;
            display: table;
        }
        p { 
            vertical-align: middle;
            display: table-cell;
        }
    </style>



{% endblock %}
