{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui center aligned container">
        <div class="ui center aligned grid">
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide segment"><p>General Chemistry</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Naming</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Conformation</p></div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide clearing segment"><p><br><br>Chirality<p></p></p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide clearing segment"><p>Reactions: Introduction to Basic Mechanisms (alcohols + alkyl halides)</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide clearing segment"><p><br>Elimination Reactions and Introduction to Alkenes<p></p></p></div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui five wide column">
                <div style="font-size:20px" class="ui raised six wide segment"><p>Alkene and Alkyne Reactions</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Sn<sub>1</sub>, Sn<sub>2</sub>, E1, and E2 Mechanisms</p></div>
                </div>
                <div class="ui five wide column">
                    <div style="font-size:20px" class="ui raised six wide segment"><p>Conjugated Systems and The Diels-Alder Reaction</p></div>
                </div>
            </div>
      </div>
    </div>
{% endblock %}
