{% extends 'layouts/base.html' %}

{% set endpoints = [
    'main.index',
    'main.Categories',
    'SnEMechs.index',
    'SnEMechs.Sn2',
    'SnEMechs.Sn2Learning',
    'SnEMechs.Sn2Mech1'
] %}

{% block content %}
    <div class="ui center aligned container">
        <div id="bcrumbCont" class="ui compact raised segment" style="height:50px;">
            <div id="bcrumb" class="ui breadcrumb">
              <a href="{{ url_for(endpoints[0]) }}" class="section">Home</a>
              <i class="right chevron icon divider"></i>
              <a href="{{ url_for(endpoints[1]) }}" class="section">Undergraduate Basic Organic Chemistry</a>
              <i class="right chevron icon divider"></i>
              <a href="{{ url_for(endpoints[2]) }}" class="section">Sn<sub>1</sub>, Sn<sub>2</sub>, E1, and E2 Mechanisms</a>
              <i class="right chevron icon divider"></i>
              <a href="{{ url_for(endpoints[3]) }}" class="section">Sn<sub>2</sub></a>
              <i class="right chevron icon divider"></i>
              <a href="{{ url_for(endpoints[4]) }}" class="section">Understanding Sn<sub>2</sub> Reactions</a>
                <i class="right chevron icon divider"></i>
              <div class="active section">Mechanisms Slide 2</div>
            </div>
        </div>
        <br/>
        <br/>
        <img src="{{ url_for('static', filename='Sn2ReactionDiagram.png', width=100) }}">
        <br/>
        <br/>
        <div class="ui stackable grid">
            <div class="ui row">
                <div class="column">
                    <a href="{{ url_for(endpoints[5]) }}"> 
                    <button style="background-color:white;font-size:30px" class="ui button"><i class="chevron left icon"></i>Previous Page</button>
                </a>
                </div>
            </div>  
        </div>
    </div>

    <style>
        .column {
            /*height: 100%;*/
            vertical-align: middle;
            display: table;
        }
        .column .segment { 
            height: 100%;
            width: 100%;
            vertical-align: middle;
            text-align: left;
            display: table;
        }
        .text {
            display: table-cell;
            vertical-align: middle;
        }
        .column a {
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }
        div.bcrumbCont {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        div.bcrumb {
            display: inline-block;
        }
        .section{
            line-height: 130%;
        }
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }
    </style>

    <style>
        #button:hover{
            /*text-decoration: none; */
            font-weight: bold; 
        }
    </style>


{% endblock %}
